
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

target/test-classes/
# un-ignore the extension jar file
#!otel-mule4-observability-agent-1.0.92-SNAPSHOT-mule-plugin.jar

!target/otel-mule4-observability-agent-*-plugin.jar
!target/generated-docs/**

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# OS related
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

README-avio.adoc
AsciiDoc-Examples.adoc
*.deprecated
